table{
    margin: 0 auto;
    box-shadow: 2px 2px 2px red;
}
table th{
    /* border: 1px solid gray; */
    padding: 15px;
    
}
table td{
    font-size: 1.7em;
    text-align: center;
    border: 1px solid gray;
}
table td img{
    width: 50px;
    object-fit: contain;
}